<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Pagano</title>
</head>
<body>
    <header>
      <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"> <!--Logotipo-->
      <nav><!--Barra de navegación-->
         <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
         </ul>

         <ul>
          <li><a href="#">Creá tu cuenta</a></li>
          <li><a href="#">Ingresá</a></li>
          <li><a href="#">Mis compras</a></li>
         </ul>
      </nav>
      <!--Barra de búsqueda-->
      <!--Enlace a redes sociales-->
    </header>

    <main>
      <section>
        <img public = "images/img-home-banner.jpg">
        <header>
          <h3>Basado en tu última visita</h3>
        </header>

        <img public ="images/img-cafereta-moulinex.jpg">
        <ul>
          <li>$6.770</li>
          <li>40% off</li>
          <li>Cafetera Moulinex</li>
        </ul>

        <img public = "images/img-macbook-pro-2019.jpg">
        <ul>
          <li>$230.000</li>
          <li>20% off</li>
          <li>MacBook Pro 2019</li>
        </ul>

        <img public = "images/img-samsung-galaxy-s10.jpg">
        <ul>
          <li>$70.500</li>
          <li>10% off</li>
          <li>Samsung Galaxy S10
          </li>
        </ul>

        <img public = "images/img-tv-samsung-smart.jpg">
        <ul>
          <li>$23.200</li>
          <li>5% off</li>
          <li>SmartTv Samsung 43"</li>
        </ul>

      </section>
    </main>
    <footer aling = "center">
      <ul>
        <li><h5>Pagá con tarjeta o en efectivo</h5></li>
        <li><p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!</p></li>

        <li><h5>Envío gratis desde $ 2.500</h5></li>
        <li><p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.
          </p></li>

        <li><h5>Seguridad, de principio a fin</h5></li> 
        <li><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.
          </p></li> 

        <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>  

      </ul>
    </footer>
</body>
</html>